

fastapi
aiofiles
uvicorn
requests

pandas

traitlets

fastapi_utils

# required for fastapi auth
python-multipart
python-jose[cryptography]
passlib[bcrypt]

python-dotenv
toml

openpyxl

boto3

pytest

cachetools